<style>
input[type="number"] {
    width: 80px;
}
</style>
<app-navbar></app-navbar>
<div class="container mt-5 mb-5">
    <h3 class="text text-info">Filter for date range</h3>
    <form [formGroup]="dateRange" (ngSubmit)="dateSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="startDate"/>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="dateRange.get('startDate')?.hasError('required')">
                Start date is required
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="endDate" />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="dateRange.get('endDate')?.hasError('required')">
            End date is required
            </mat-error>
        </mat-form-field>
        <div *ngIf="!validDates" class="error">
            <span class="text text-danger">End date must be after start date</span>
        </div>

        <button mat-raised-button color="primary" type="submit">
            Submit
        </button>   
    </form>
    <span></span>
    <button class="btn btn-primary" (click)="viewAll()">View All Bets</button>
    <form [formGroup]="betForm">
        <div >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Start Time</th>
                        <th>Home Team</th>
                        <th>Away Team</th>
                        <th>Total</th>
                        <th>Over</th>
                        <th>Under</th>
                        <th>Over Prio</th>
                        <th>Under Prio</th>
                        <th>Side</th>
                        <th>Amount</th>
                        <th>Site</th>
                        <th>Edit</th>
                        <th>Submit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody formArrayName="bets">
                <ng-container *ngFor="let bet of betsArray.controls; let i = index" [formGroupName]="i">
                    <tr>
                        <td>{{ bet.get('startTimeUTC')?.value | date: 'short' :'-1100' }}</td>
                        <td>{{ bet.get('homeTeam')?.value }}</td>
                        <td>{{ bet.get('awayTeam')?.value }}</td>
                        <td>{{ bet.get('total')?.value }}</td>
                        <td><input type="number" formControlName="overPrice"></td>
                        <td><input type="number" formControlName="underPrice"></td>
                        <td>{{ bet.get('overPriority')?.value }}</td>
                        <td>{{ bet.get('underPriority')?.value }}</td>
                        <td>
                            <select formControlName="side">
                                <option value="" disabled>Side</option>
                                <option *ngFor="let side of sides" [ngValue]="side">{{ side }}</option>
                            </select>
                        </td>
                        <td><input type="number" formControlName="amount"></td>
                        <td>
                            <select formControlName="site">
                                <option value="" disabled>Site</option>
                                <option *ngFor="let site of sites" [ngValue]="site">{{ site }}</option>
                            </select>
                        </td>
                        <td><button class="btn btn-warning" (click)="toggleEdit(i)" >Edit</button></td>
                        <td><button class="btn btn-primary" (click)="updateRow(i)" [disabled]="!bet.get('clicked')?.value">Update</button></td>
                        <td><button class="btn btn-danger" (click)="deleteRow(i)" [disabled]="bet.get('clicked')?.value">Delete</button></td>
                    </tr>
                    <tr *ngIf="checkSuccessMessage(i)">
                        <td colspan="8">
                            <span class="text text-success">{{bet.get('successMessage')?.value}}</span>
                        </td>
                    </tr>
                    <tr *ngIf="checkErrorMessage(i)">
                        <td colspan="8">
                            <span class="text text-danger">{{bet.get('errorMessage')?.value}}</span>
                        </td>
                    </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </form>
</div>
